<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleStockTickerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--
      <service behaviorConfiguration="SimpleStockTickerServiceBehavior" name="SimpleStockPriceTickerServer.WebSocketStockTickerService">
        <endpoint address="" 
                  bindingConfiguration="TransactionlCustom"
                  binding="customBinding"
                  contract="SimpleStockPriceTickerServer.IWebSocketStockTickerService">
          <identity>
            <dns value="loclahost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/TestWS"/>
          </baseAddresses>
        </host>		
      </service>
	  
      <service behaviorConfiguration="SimpleStockTickerServiceBehavior" name="SimpleStockPriceTickerServer.SimpleStockTickerService">
        <endpoint address=""
                  bindingConfiguration="TransactionalTCP"
                  binding="netTcpBinding"
                  contract="SimpleStockPriceTickerServer.ISimpleStockTickerService">
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/TestWS" />
          </baseAddresses>
        </host>
      </service>
	  -->
    </services>
    <bindings>
      <!--net tcp-->
      <netTcpBinding>
        <binding name = "TransactionalTCP">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <!--custom-->
      <customBinding>
        <binding name="TransactionlCustom">
          <byteStreamMessageEncoding>
          </byteStreamMessageEncoding>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>
